p {
    margin: 0;
}
.messengerWrapper {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
}

.screenWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.screen {
    height: 90%;
    border-bottom: 1px solid grey;
    padding: 10px;
    overflow-y: scroll;
}

.inputWrapper {
    height: 10%;
    display: flex;
}

input {
    width: 80%;
    border: 0;
    padding: 0 15px;
    outline: none;
}

button {
    width: 80px;
    border: none;
}

.chatRoom-wrap {
    width: 40%;
    border-right: 1px solid grey;
    overflow-y: scroll;
}

.chatRoom {
    border-bottom: 1px solid grey;
    padding: 10px 15px;
}

.msg {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.msg.dark {
    background-color: dimgray;
}
